.edit{
    display:flex;
    flex-direction: row;
    justify-content:center;
    gap:10%;
    background-image: url("../assets/recette2.jpg");
    background-size: cover;
}
.form-edit{
    margin-top:3rem;
    margin-left:10rem;
    width:70%;
    color:#FFFFFF;
}
.titre-form{
    font-size:2rem;
    text-align: left;

}
.formulaire{
    border: dashed 4px #335B36;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:1rem;
}
.titre_et_niveau{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.personne_et_tempspreparation{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.card-titre, .card-niveau, .card-personne, .card-tempspreparation, .card-description, .card-etape, .card-image{
    display:flex;
    flex-direction: column;
    text-align:left;
    margin-left: 3rem;
}
.card-personne input{
    font-size:1rem;
    border-radius:4px;
}
.card-titre input{
    font-size:1rem;
    border-radius:4px;
}
.card-niveau select{
    font-size:1rem;
    padding-left: 5rem;
    padding-right:5rem;
    text-align: left;
    margin-right: 7rem;
    border-radius:4px;
}
.card-tempspreparation input{
    font-size:1rem;
    padding-left: 3rem;
    border-radius:4px;

    text-align: left;
    margin-right: 7rem;
}
.card-description textarea{
    font-size:1rem;
    padding-left: 5rem;
    padding-right:5rem;
    text-align: left;
    margin-right: 7rem;
    border-radius:4px;
}
.input-textarea{
    font-size:1rem;
    padding-left: 5rem;
    padding-right:5rem;
    text-align: left;
    margin-right: 7rem;
}
.card-etapes button{
    width:25%;
}
.card-etapes input{
    border-radius:4px;
    text-align: left;
}
.card-ingredient h5{
    text-align: left;
    margin-left:3rem;
}
.ingredients{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    text-align:left;
    margin-left: 3rem;
}
.btn-submit{
    align-self:center;
    border:3px;
    border-radius:3px;
    background-color:#d7cece;
    font-size:2rem;
    padding:0.5rem;
}



.photo{
    font-size:1rem;
    padding-left: 5rem;
    padding-right:3rem;
    text-align: left;
    margin-right: 3rem;
    margin-bottom:5px;
    border-radius:4px;
}
.quantite, .titre-ingredient{
    font-size:1rem;
    padding-left: 3rem;
    text-align: left;
    margin-right: 3rem;
    margin-bottom:5px;
    border-radius:4px;
}
